@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-jetbrain: "JetBrains Mono", monospace;
  --color-muted: #808080;
}

h1,
h2,
h3 {
  font-family: var(--font-inter);
}

p {
  font-family: var(--font-jetbrain);
  color: var(--color-muted);
}
